<!DOCTYPE html>
<html>
  
  <%- include('./head.ejs') %>


<head>
  <title>Busqueda</title>

  <link rel="stylesheet" href="/src/public/stylesheets/style.css">


</head>

  <body>
      <h1><%=  %></h1>
      <form action="/resultadosPersonal" method="post">
          <input type="text" name="keyword" placeholder="Buscar aqui">
          <button type="submit">Buscar</button>
      </form>
  </body>
</html>