!DOCTYPE html>
<html>

<%- include('./head.ejs') %>

<head>
  <title>Borrar</title>
  <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>

    <body>
        <form action="/deletePersonal/<%= item.id %>" method="post">
            <h1>Desea eliminar este registro de persona?</h1>
            <button type="submit">Eliminar</button>
        </form>
        
    </body>

</html>






