<!-- src/views/navigation.ejs -->
<nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/personal">Personal</a></li>
      <li><a href="/agregarPersonal">Agregar Personal</a></li>
    </ul>
  </nav>
  