<!DOCTYPE html>
<html>
  
  <%- include('./head.ejs') %>

  <body>
    <h1>Lista de Personal</h1> 
    <ul>
        <% personal.forEach(element => { %> <!-- busca personas porque en el array del controlador se llama asi -->
           
          <li>
             <%= element.nombre %> 
          </li> <!--etiquetas out-->
          
        <% }) %>
    </ul>
  </body>
</html>