body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Altura del footer */
  line-height: 60px; /* Alineación vertical */
  background-color: #2473e9;
}